#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "manifest.xml"
IDI_APPLICATION ICON "app.ico"

IDD_MAIN DIALOGEX 0,0,310,100
STYLE WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_SETFONT
CAPTION "BiliCDN"
FONT 9,"Segoe UI Variable"
BEGIN
    LTEXT        "B站链接:", -1, 8,10, 42,14
    EDITTEXT     IDC_URL, 52,8, 140,14, ES_AUTOHSCROLL
    PUSHBUTTON   "粘贴", IDC_PASTE, 200,7, 38,14
    PUSHBUTTON   "复制", IDC_COPY, 244,7, 38,14
    PUSHBUTTON   "解析", IDC_PARSE, 200,24, 38,14
    PUSHBUTTON   "一键", IDC_QUICK, 244,24, 38,14
    LTEXT        "读剪贴板→解析→复制到剪贴板", IDC_TIP, 200,40, 100, 10
    EDITTEXT     IDC_RESULT, 8,54, 292, 40, ES_MULTILINE|ES_AUTOVSCROLL|ES_READONLY|WS_VSCROLL
END
