#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "manifest.xml"
IDI_APPLICATION ICON "app.ico"

IDD_MAIN DIALOGEX 0,0,300,140
STYLE WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_SETFONT
CAPTION "BiliCDN"
FONT 9,"Microsoft YaHei UI"
BEGIN
    DEFPUSHBUTTON "一键获取直链", IDC_QUICK, 60,5, 180,22
    CTEXT        "一键获取直链：读剪贴板→解析→复制到剪贴板", IDC_TIP, 40,30, 220,10
    LTEXT        "B站链接:", -1, 5,48, 40,12
    EDITTEXT     IDC_URL, 45,46, 175,14, ES_AUTOHSCROLL | WS_BORDER
    PUSHBUTTON   "粘贴", IDC_PASTE, 223,45, 36,14
    PUSHBUTTON   "解析", IDC_PARSE, 262,45, 36,14
    EDITTEXT     IDC_RESULT, 5,66, 288,48, ES_MULTILINE|ES_AUTOVSCROLL|ES_READONLY|WS_VSCROLL | WS_BORDER
    PUSHBUTTON   "复制", IDC_COPY, 255,118, 38,14
END
