#include <windows.h>
#include "resource.h"

1 RT_MANIFEST "manifest.xml"
IDI_APPLICATION ICON "app.ico"

IDD_MAIN DIALOGEX 0,0,300,90
STYLE WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_SETFONT
CAPTION "BiliCDN"
FONT 9,"Segoe UI"
BEGIN
    LTEXT        "B站链接:", -1, 5,8, 40,12
    EDITTEXT     IDC_URL, 45,6, 150,14, ES_AUTOHSCROLL
    PUSHBUTTON   "粘贴", IDC_PASTE, 200,5, 38,14
    PUSHBUTTON   "获取", IDC_GET, 200,21, 38,14
    PUSHBUTTON   "一键复制", IDC_QUICK, 243,5, 50,30
    EDITTEXT     IDC_RESULT, 5,40, 288,45, ES_MULTILINE|ES_AUTOVSCROLL|ES_READONLY|WS_VSCROLL
END
